<div class="all-wrap">

  <div class="page-wrap">
    <mat-toolbar color="primary" class="mat-elevation-z6 main-toolbar">
      <mat-toolbar-row>
        <button mat-button class="home-button" (click)="goHome()"><img src="assets/images/app-logo.png">
          {{title}}</button>

        <span class="header-spacer"></span>

        <span class="menu-standard">
          <button mat-button (click)="goToRoute(option.href)"
            *ngFor="let option of links.mainMenu">{{option.name}}</button>
        </span>

        <span class="menu-compact">
          <mat-menu #appMenu="matMenu">
            <button mat-button (click)="goToRoute(option.href)" *ngFor="let option of links.mainMenu"
              class="menu-compact-button">{{option.name}}</button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </div>
</div>