<mat-card align="center" class="welcome-card">
  <div>
    <h2 class="welcome-title">Welcome to BYU RL INDEXING!</h2>
  </div>

  <div ng-form class="example-form">
    <mat-form-field class="example-full-width">  
      <input #userInput 
      (keyup.enter)="getImages(userInput.value); userInput.value='' "
      matInput placeholder="Surname" value="name">

    </mat-form-field>
    <button mat-raised-button (click)="getImages(userInput.value); userInput.value=''">submit</button>

  </div>
  
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-checkbox class="example-margin" (change)="change1()">pic 1</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox class="example-margin" (change)="change2()">pic 2</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox class="example-margin" (change)="change3()">pic 3</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
          <mat-checkbox class="example-margin" (change)="change4()">pic 4</mat-checkbox>
    </mat-grid-tile>
  </mat-grid-list>

  <button mat-raised-button (click)="sendOutput()">submit</button>

      
</mat-card>